.git
.idea
**/.env
**/.env.*
!**/.env.example

frontend/node_modules
frontend/dist

api/vendor
api/storage/logs/*
api/storage/framework/cache/*
api/storage/framework/sessions/*
api/storage/framework/views/*
api/bootstrap/cache/*
api/.phpunit.result.cache

docker/postgres/data

README.md
docker-compose.yml
